<?xml version="1.0" encoding="UTF-8"?>
<applicationConfig>
	<ria_auth>
		<auth_SystemNo>SYS108</auth_SystemNo>
		<auth_ResTypeCode>ALL_PAGECONTROL</auth_ResTypeCode>
		<auth_RuleCode>PAGECONTROL_RULE_001</auth_RuleCode>
		<auth_opr_write>PAGECONTROL_OPER_001</auth_opr_write>
		<auth_opr_readOnly>PAGECONTROL_OPER_002</auth_opr_readOnly>
		<auth_opr_invalidation>PAGECONTROL_OPER_003</auth_opr_invalidation>
		<auth_opr_hidden>PAGECONTROL_OPER_004</auth_opr_hidden>
	</ria_auth>
	<riamulitlang>
		<isdebug>false</isdebug>
	</riamulitlang>
    <right>
      <isRight>true</isRight>
      <noAuthorizationPage></noAuthorizationPage>        
    </right>  
    <systemInfo>
      <ruleCode>SYSTEM_RULE_001</ruleCode>   
       <operCode>SYSTEM_OPER_001</operCode> 
        <enterpriseNo>00</enterpriseNo> 
        <resTypeCode>ALL_SYSTEM</resTypeCode> 
        <systemNo>SYS10000</systemNo> 
        <propCode>RES</propCode>
        <typePropDetailOrgId></typePropDetailOrgId> 
        <typePropDetailResCode></typePropDetailResCode> 
         <typePropDetailStateCode></typePropDetailStateCode> 
       <propExtendVal></propExtendVal> 
    </systemInfo>   
    
    <menuInfo>
      <ruleCode>MENU_DATA_GET</ruleCode>   
      <operCode>MENU_OPER_001</operCode> 
      <enterpriseNo>00</enterpriseNo> 
      <resTypeCode>ALL_MENU</resTypeCode> 
      <propCode>RES</propCode> 
      <systemNo>SYS10000</systemNo> 
        <typePropDetailOrgId></typePropDetailOrgId> 
      <typePropDetailResCode></typePropDetailResCode> 
       <typePropDetailStateCode></typePropDetailStateCode> 
       <propExtendVal></propExtendVal>
       <menuDisPlay>false</menuDisPlay> 
    </menuInfo>  
    <toolBarInfo>
       <ruleCode>TOOLBAR_DATA_GET</ruleCode>    
         <operCode>TOOLBAR_OPER_001</operCode> 
        <enterpriseNo>00</enterpriseNo> 
        <resTypeCode>ALL_TOOLBAR</resTypeCode> 
         <propCode>RES</propCode> 
       <systemNo>SYS10000</systemNo> 
        <typePropDetailOrgId></typePropDetailOrgId> 
       <typePropDetailResCode></typePropDetailResCode> 
       <typePropDetailStateCode></typePropDetailStateCode> 
       <propExtendVal></propExtendVal> 
       <toolBarDisPlay>true</toolBarDisPlay> 
    </toolBarInfo>   
    <sessioninfo>
        <menuId>sessionmenuid</menuId>
        <pageCode>sessionpagecode</pageCode>
        <memoryUrl>memoryurl</memoryUrl>
    	<userid>userid</userid>
    	<username>username</username>
    	<OrgId>OrgId</OrgId>
        <loginInfoKey>JamLoginInfo</loginInfoKey>
    	<userId>mUserId</userId>
    	<userName>mUserName</userName>
    	<userDepartmentNo>mUserDepartmentNo</userDepartmentNo>
    	<currentEnterpriseNo>mCurrentEnterpriseNo</currentEnterpriseNo>
    	<currentSystemNo>SYS10000</currentSystemNo>    	
    </sessioninfo> 
    <jamGenral>
        <resInheridFlag>true</resInheridFlag>
        <orgInheridFlag>true</orgInheridFlag>
        <converseRightFlag>false</converseRightFlag>
    </jamGenral>
    <exceptionHandler>  	
    	<exceptionFileName>/exception-info.xml</exceptionFileName>
     </exceptionHandler> 
     <loginInfo>
         <loginPage>/uiloader/forward.html</loginPage>
         <authoriPage>/jam/common/noPrivilege.jsp</authoriPage>
         <isHttpsLogin>false</isHttpsLogin>
      </loginInfo>
	<upload>
		<maxUploadSize>52428800</maxUploadSize>
		<maxMemorySize>102400</maxMemorySize>
		<tempDir>e:\</tempDir>
	</upload>
	<appLogPolicy>
	    <enabled>Y</enabled>
	    <handletype>2</handletype>
	    <remaindays>3</remaindays>
	</appLogPolicy>
</applicationConfig>
