$var title: $_("欢迎使用自动投递")
<script type="text/javascript">
var endTime = 10;
var scan =  null;
function clock()
{
	endTime = endTime-1;
	if(endTime<1){
	    back();
	}
	document.getElementById("endTime").innerText=endTime;
}
function back(){
  window.location.href = "/delivery/index";
}


function init(){
	clock();
	var int=self.setInterval("clock()",1000);
}

</script>
<script src="/static/js/layer/layer.js" type="text/javascript"></script>

<body onload="init()">
<div class="delivery_main" >
  <table cellspacing="20"  class="tb_main">
    <tr>
      <td colspan="2" align="right" valign="bottom" class="top">
        <table>
          <tr>
            <td align="center"><div class="div_bt" onclick='back();'>返回</div></td>
            <td align="center" width="70%"><div class="div_font_green">错误页面</div></td>
            <td align="center"><div id="endTime" class="div_bt">10</div></td>
          </tr>
        </table>
        <hr class="top"/>
      </td>
    </tr>

    <tr>
      <td align="center" class="errormsg">
          <span style="color:red;font-size: 20px;">设备故障！请联系管理员修复， 联系电话10086</span><br><br><br>
          <img src="/static/images/machine_error.png"/>
      </td>
    </tr>

  </table>
</div>
</body>

