$var title: $_("欢迎使用自动投递")
$var jsfiles : /static/js/scan.js
<script type="text/javascript">
var endTime = 200;
var scan =  null;
function clock()
{
	endTime = endTime-1;
	if(endTime<1){
	    back();
	}
	document.getElementById("endTime").innerText=endTime;
}
function doScan(){
    //扫描之前先检查 机器是否初始化成功
    showLoading();
    $$.ajax({
        url : "/delivery/scan",
        type : "post",
        async : true,
        data : {
            method:"initMachine"
        },
        success : function(d) {
            d = eval("(" + d + ")");
            if (d.isSuccess) {
                alert(d.info);
                //scan["scanCallback"]=scanCallback;

                scan.commonScan(function(data) {
                    showLoading();
                    var cond = {}
                    cond.data = JSON.stringify(data);

                    jQuery.ajax({
                        url : "/dailyScan",
                        type : "post",
                        async : true,
                        data : cond,
                        success : function(d) {
                            d = eval("(" + d + ")");
                            if (d.isSuccess) {
                                headId = d.headId;
                                if(headId){
                                    window.location.href = "/delivery/edit?headId="+headId;
                                }else{
                                     alert("扫描失败！");
                                }
                            } else {
                                alert(d.msg);
                            }
                        },
                        error : function(e) {
                            alert(_("未知错误"));
                        },
                        complete : function() {
                            hideLoading();
                        }
                    });
                });
            } else {
                alert(d.info);
            }
         },
        error : function(e) {
            alert(_("未知错误"));
        },
        complete : function() {
            hideLoading();
        }
    });

}
function scanCallback(headId){
    if(headId){
        window.location.href = "/delivery/edit?headId="+headId;
    }else{
         alert("扫描失败！");
    }
}
function back(){
    //backPaper();
    window.location.href = "/delivery/index";
}
function backPaper(){
    showLoading();
    $$.ajax({
        url : "/delivery/scan",
        type : "post",
        async : false,
        data : {
            method:"backPaper"
        },
        success : function(d) {
            d = eval("(" + d + ")");
            if (d.isSuccess) {
                alert(d.info);
                //scan["scanCallback"]=scanCallback;
                //scan.execute('dailyScan');
            } else {
                alert(d.info);
            }
         },
        error : function(e) {
            alert(_("未知错误"));
        },
        complete : function() {
            hideLoading();
        }
    });
}


function init(){
    scan = new Scan();
	clock();
	var int=self.setInterval("clock()",1000);
}



</script>
<script src="/static/js/layer/layer.js" type="text/javascript"></script>

<body onload="init()">
<div class="delivery_main">
    <table cellspacing="20" class="tb_main">
        <tr>
            <td colspan="2" align="right" valign="bottom" class="top">
                <table>
                    <tr>
                        <td align="center">
                            <div class="div_bt" onclick='back();'>返回</div>
                        </td>
                        <td align="center" width="70%">
                            <div class="div_font_green">自动扫描</div>
                        </td>
                        <td align="center">
                            <div id="endTime" class="div_bt">119</div>
                        </td>
                    </tr>
                </table>
                <hr class="top"/>
            </td>
        </tr>
        <tr>
            <td rowspan="3" class="lable" width="50%">
                <table>
                    <tr>
                        <td valign="bottom">
                            <table>
                                <tr>
                                    <td align="center">
                                        <table>
                                            <tr>
                                                <td align="right"><img src="/static/images/first.png" width="160px"/>
                                                </td>
                                                <td align="center" width="20%"><img src="/static/images/to.png"
                                                                                    width="80px"></td>
                                                <td align="left"><img src="/static/images/last.png"/ width="160px"></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="div_title"> 温馨提示</div>
                                        <hr style="border:1px dashed #000; height:1px; margin-bottom: -1px;">
                                    </td>
                                    </td>
                                </tr>
                            </table>


                    </tr>
                    <tr>
                        <td valign="top">
                            <div class="div_label">
                                请确保票据不粘在一起<br/>
                                请确保票据间没有杂物<br/>
                                如：别针、 订书针、 回形针<br/>
                                封面 底页<br/>
                                然后点击【扫描】<br/>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
            <td class="yellow">
                <table>
                    <tr onclick='doScan();' style="cursor:pointer">
                        <td width="50%" align="center"><img src="/static/images/scan.png" width="60%"/></td>
                        <td>
                            <div class="div_font_while"> 扫 描<br/>
                                Scan
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="edit">&nbsp;</td>
        </tr>
        <tr>
            <td class="edit">&nbsp;</td>
        </tr>
    </table>
</div>
</body>

