$def with(imghead,headList,imgLines,headApp,userForm)
<form id="userForm" action="/saveUserForm">
	<input type="hidden" value="$imghead.get('headId')" name="headId" id="headId"/>
	<div class="searchbar">
		<div class="fields">
			<div class="tit">
				$_("应用"):
			</div>
			<div class="cont">
				<input type="hidden"  name='appCode' id="appCode"
					value="$headApp.get('appCode')">
				<input type="text" class="input_search" readonly="readonly"
					value="$headApp.get('appName')">
			</div>
		</div>
		
		$for f in userForm:
			$if f.get("type")=="hidden":
					<input type="hidden" class="input_search" name='$f.get("name")'
						value="$f.get('value')">
			$elif f.get("type")=="input":
				<div class="fields">
					<div class="tit">
						$f.get("label"):
					</div>
					<div class="cont">
						<input type="text" class="input_search" name='$f.get("name")' required='$f.get("required")' label='$f.get("label")'
							value="$f.get('value')">
					</div>
				</div>
			$elif f.get("type")=="select":
				<div class="fields">
					<div class="tit">
						$f.get("label"):  
					</div>
					<div class="cont">
					<select class="myselect" name="$f.get('name')"
						value="$f.get('value')">
						$for item in f.get("items"):
					  		<option value ="$item.get('value')">$item.get("label")</option>
					</select>
					</div>
				</div>
		<div class="fields">
			<div class="cont">
				<select onchange="scan.execute('moveImg',this.value);" >
					<option style="display:none;">$_('移动到')</option>
					$for head in headList:
						<option value="$head.headId">
							$head.headNum
						</option>
				</select>
			</div>
		</div>
		<input type="button" onclick="scan.saveUserFormByHead()" value='$_("保存")' id="bt_save"/>
		<input type="button" onclick="scan.showGroups();" value='$_("返回")' />
	</div>
	<input type="hidden" value="$imghead.get('headStatus')" id="headStatus"/>
</form>	
<strong class="bill_tit">
$if imghead.get('remark'):
	$imghead.get('remark')
</strong>
$if len(imgLines) > 0:
	<p class="opts"><label><input type="checkbox" name="" id="selectAll"
		onclick="selectAll(this);"> $_("全选")</label></p>
<ul class="bill_list">
	$for imgLine in imgLines:
		<li>
			<a href="#;">
				<label class="check_cont">
					<input type="checkbox" 
						 data="$imgLine.get('lineId')" 
						 imgOrd="$imgLine.get('imgOrd')" 
						 imgExt="$imgLine.get('imgExt')" 
						 imgName="$imgLine.get('imgName')"
						 deleteAble="$imgLine.get('deleteAble')"
						 editAble="$imgLine.get('editAble')"
						 onclick="selectBlock(this);"> $_("选中")
				</label>
				<span class="img_cont" imgPath="$imgLine.get('imgPathO')" onclick="scan.showBigImg(this);">
					<img src="$imgLine.get('imgPathS')" alt="">
				</span>
				<span>$imgLine.get('imgOrd')</span>
			</a>
		</li>
</ul>
<script type="text/javascript">
	function editHeadDesc(e){
		var input = document.createElement("input")
		input.type="text" ;
		jQuery(input).css("width","300");
		var p = jQuery("#headDesc")
		var htmlVal = p.text().trim();//原来的值
		input.value=htmlVal;
		p.html(input);
		p.children().focus().select()
		jQuery(e).hide();
		jQuery(input).keyup(function(event){
			if (event.keyCode==13){
				editResult(this);
				p.html(jQuery(this).val().trim());
				jQuery(e).show();
			}
		});
		jQuery(input).blur(function(){
			p.html(jQuery(this).val().trim());
			editResult(this);
			jQuery(e).show();
		});
	}
	function editResult(e){
		headDesc = jQuery(e).val().trim();
		if(headDesc){
			jQuery("#opertorType").text(_("修改"));
		}else{
			jQuery("#opertorType").text(_("添加"));
		}
		var headId=jQuery("#headId").val();
		jQuery.ajax({
			url:"/editHead",
     		type:"post",
			async:true,
			data:{
				headId: headId,
				headDesc:headDesc
				},
			success: function(d){
     		},
     		error:function(e) {
     			alert(_("保存失败"));
     		}
		})
	}
	jQuery(document).ready(function(){
		if("noTaskM"==top.scan.curMenu){
			//jQuery("#bt_save").css('display','none');
			jQuery("#bt_save").remove();
		}
		var select=jQuery('.myselect');
		select.each(function() {
			var val = jQuery(this).attr("value");
			jQuery(this).find("option").each(function(){
				if(this.value==val){
					this.selected = true;
					return false;
				}
			});
		});
	});
</script>