$def with (content)
<html lang="zh-cn">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>$content.get('title')</title>
		<link href="/static/images/favicon.ico" rel="shortcut icon"
			type="image/x-icon" />
		<!--<link href="/static/css/style.css?r=1" rel="stylesheet" type="text/css" />-->
		<!--<link href="/static/css/delivery_base.css?r=1" rel="stylesheet" type="text/css" />-->
		<script src="/static/js/jquery-1.11.1.min.js" type="text/javascript"></script>
		<script src="/static/js/layer/layer.js" type="text/javascript"></script>
		<script type="text/javascript" src="/static/js/util.js"></script>
		<script type="text/javascript">
			if(0!=window.location.pathname.indexOf("/login")&&0!=window.location.pathname.indexOf("/delivery")&&0!=window.location.pathname.indexOf("/testCom")){
				setInterval(function() {
					jQuery.ajax({
						type : "post",
						async : false,
						url : "/login",
						data:{"type":"isLogin",pathname:window.location.pathname},
						success : function(data) {
							if("True"!=data){
								window.location.href="/logout";
							}
						},
						error : function() {
							window.location.href="/logout";
						}
					});
				}, 60000);
			}


			var jsonStr = '$i18nMap()'.replaceAll('&quot;', '"');
			var i18nMap = eval("(" + jsonStr + ")")
			function _(key) {
				return i18nMap[key] || key
			}

			function loadjscssfile(filename,filetype){
			   if(filetype == "js"){
				  var fileref = document.createElement('script');
				  fileref.setAttribute("type","text/javascript");
				  fileref.setAttribute("src",filename);
			   }else if(filetype == "css"){

				  var fileref = document.createElement('link');
				  fileref.setAttribute("rel","stylesheet");
				  fileref.setAttribute("type","text/css");
				  fileref.setAttribute("href",filename);
			   }
			   if(typeof fileref != "undefined"){
				  document.getElementsByTagName("head")[0].appendChild(fileref);
			   }
			}
			//平板的样式不一样，不引用旧样式
			if(window.location.pathname.indexOf("/delivery")!=0){
				loadjscssfile("/static/css/style.css","css");
			}

		</script>
		<script type="text/javascript" src="/static/js/Dialog.js"></script>
		<script type="text/javascript" src="/static/js/common.js"></script>
		<script type="text/javascript" src="/static/js/calendar.js"></script>
		$if content.get('cssfiles'):
			$for f in content.cssfiles.split():
			<link rel="stylesheet" href="$f" type="text/css" media="screen" charset="utf-8"/>
		$if content.get('jsfiles'):
			$for f in content.jsfiles.split():
			<script src="$f" type="text/javascript"></script>
			
	</head>
	$:content
</html>