<body>
//HTML示例
<div id="layer-photos-demo" class="layer-photos-demo">
  <img layer-pid="图片id，可以不写" layer-src="/static/images/little.png" src="/static/images/little.png" alt="图片名111">
  <img layer-pid="图片id，可以不写" layer-src="/static/images/edit.png" src="/static/images/edit.png" alt="图片名2222">
</div>

<script>
var p_data={
  "title": "", //相册标题
  "id": 123, //相册id
  "start": 0, //初始显示的图片序号，默认0
  "data": [   //相册包含的图片，数组格式
    {
      "alt": "图片名11",
      "pid": 11, //图片id
      "src": "/static/images/little.png", //原图地址
      "thumb": "/static/images/edit.png" //缩略图地址
    },
     {
      "alt": "图片名11",
      "pid": 22, //图片id
      "src": "/static/images/edit.png", //原图地址
      "thumb": "/static/images/edit.png" //缩略图地址
    }
  ]
}
function test(){
layer.photos({
    photos: p_data
    ,anim: 1 //0-6的选择，指定弹出图片动画类型，默认随机（请注意，3.0之前的版本用shift参数）
  });
}
</script>
<input type="button" value="test" onclick="test()">
</body>
