<!--队列管理弹出层=======================-->
<form action="" id="queryForm" method="post">
<div class="cb">
	<div class="tab-section" id="queue">
		<ul class="tab-btn tab_menu_c" id="">
			<li class="curr">
				<a href="#;" onclick="loadQueueData('queueList')">$_("队列管理")<b></b> </a>
			</li>
			<li>
				<a href="#;" onclick="loadQueueData('taskLogList')">$_("历史记录")<b></b> </a>
			</li>
			<li>
				<a href="#;" onclick="loadQueueData('timeList')">$_("上传时间段")<b></b> </a>
			</li>

		</ul>

		<div class="tabcontent" id="">
			<div class="tabc" style="display: block; height:500">
				<div class="data_table cb" id="queueList">
					
				</div>
			</div>

			<div class="tabc" style="display: none; height:500">
				<div class="data_table cb" id = "taskLogList">
				</div>
			</div>

			<div class="tabc" style="display: none;height:500">
				<div class="data_table cb" id = "timeList">

				</div>
			</div>

		</div>
	</div>
</div>
</form>
<!--队列管理弹出层结束-->
<script>
	function loadQueueData(tabName,pageNum,headId){
		var param = {"tabName":tabName,"pageNum":pageNum}
		if(headId){
			param["headId"] = headId;
		} 
		if(!pageNum){
			param["pageNum"] = jQuery("#pageNum").val();
		} 
		jQuery.ajax({
			url : "/queue",
			type : "get",
			data : param,
			async : true,
			success : function(data) {
				jQuery("#"+tabName).html(data);
			}
		});
	}
	loadQueueData("queueList");
	setInterval(function() {
		if(jQuery("#queryForm").is(":visible")&&jQuery("#queueList").parent().css("display")=="block"){
			loadQueueData("queueList");
		}
	}, 2000);
</script>	